@model  HomeViewModel
    

<div class="display-style-1"><h2>@Model.Title</h2></div>

<div>
    <table class="table-style-1" style="margin: 0% 2% 0% 2%; width: 96%;">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>City</th>
            <th>State</th>
            <th>Studies</th>
        </tr>
        @foreach (var patient in Model.Patients)
        {
            <tr>
                <td><a asp-controller="Home" asp-action="PatientDetails" asp-route-id="@patient.PatientId">@patient.FullName</a></td>
                <td>@patient.Gender</td>
                <td>@patient.Age</td>
                <td>@patient.City</td>
                <td>@patient.State</td>
                <td>@patient.Studies</td>
            </tr>
        }
    </table>
</div>

